
div,h1,h3,td {
  font-family: 'Lotus', serif;
}
td{
  font-size: 1.2rem !important;
}
.rtl{
  direction: rtl;
}
.ltr{
  direction: ltr;
}
table{
  direction: rtl;
}
h1{
  direction: rtl;
  text-align: right;
}
tr td:first-child{
  background: #19d0bfab;
  color: black;
}

tr td:nth-child(2),td:nth-child(3){
  background: #f1f1f1;
  color: black;
}
